.boton {
    padding-left: 14rem;
}


.primaryhh {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.colorD {
    color: #fff;
    background-color: rgb(180, 0, 0);
    border-color: rgb(180, 0, 0);
}

.siuu {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.margen{
    padding-left: 2rem;
    padding-right: 3rem;
    padding-bottom: 4rem;
}